a{
	color: black;
	text-decoration: none;
}
footer{
	background-color: #2E2E2E;
	color: #F2F2F2;
	min-height: 285px;
	padding: 30px 140px;
}
footer a{
	color: #F2F2F2;
}
header nav a{
	color: #708070;
	font-size: 20px;
	letter-spacing: 0.2px;
}
header nav{
	padding-bottom: 73px;
}
header, section{
	padding-left: 140px;
	padding-right: 140px;
}
ul, ol{
	list-style: none;
}
.font-size-13{
	font-size: 13px;
	letter-spacing: 0.13px;
}
.font-size-19{
	font-size: 19px;
	letter-spacing: 0.19px;
}
.font-size-20{
	font-size: 20px;
	letter-spacing: 0.20px;
}
.main-image{
	max-width: 1640px;
	width: 100%;

}
.widht-120{
	width: 120px;
}
.width-43{
	width: 43.95px;
}